@{
    ViewData["PageTitle"] = "Dịch vụ";
}


<div class="page-wrapper" style="display:block;">
    <div class="page-breadcrumb">
        <h1>
            Đây là khu vực quản lý dịch vụ
        </h1>
    </div>
</div>